{% extends 'base.html' %}

{% block style %}
    .hgreen {
    width: unset;
    background-color: green;
    padding: 10px 40px 10px 40px;
    color: white;
    }
{% endblock style %}
{% block body %}


    <div class="alpha">
        <h2> Report</h2>
    </div>
    <table class="center">

        <tr class="bor">
            <td class="hgreen">Sr.<br> No.</td>
            <td class="hgreen">Report</td>

        </tr>
        <tr class="bor">
            <td class="hgreen">1</td>
            <td class="lgreen" colspan="2">
                <span class="lgreen">&nbsp;Total number of users <b>{{ no_user }}</b></span>
            </td>

        </tr>
        <tr class="bor">
            <td class="hgreen">2</td>
            <td class="lblue" colspan="2">
                <span class="lblue">&nbsp;Number of active users in a particular month (November) <b>{{ no_d_users }}</b></span>
            </td>

        </tr>
        <tr class="bor">
            <td class="hgreen">3</td>
            <td class="lgreen" colspan="2">
                {#                this states user is hardcoded because location function is currently not attached#}
                <span class="lgreen">&nbsp;Number of new users in a particular states <b>{{ no_s_users }}</b></span>
            </td>

        </tr>
        <tr class="bor">
            <td class="hgreen">4</td>
            <td class="lblue" colspan="2">
                <span class="lblue">&nbsp;Total number of advertisements <b>{{ no_ads }}</b></span>
            </td>
        </tr>

        <tr class="bor">
            <td class="hgreen">5</td>
            <td class="lgreen" colspan="2">
                <span class="lgreen">&nbsp;Number of new advertisements created for a particular month (November) <b>{{ no_d_ads }}</b></span>
            </td>

        </tr>
        <tr class="bor">
            <td class="hgreen">6</td>
            <td class="lblue" colspan="2">
                <span class="lblue">&nbsp;Total number of rooms being advertised by suburb by state (Dubai) <b>{{ no_s_ads }}</b></span>
            </td>

        </tr>

    </table>
{% endblock %}